@page
@{
    Layout = null;
    string timePeriod = "";

    if(11 < DateTime.Now.TimeOfDay.TotalHours)
    {
        timePeriod = "Afternoon";
    }
    else
    {
        timePeriod = "Morning";
    }

}

<!DOCTYPE html>

<html>

<head>

    <meta name="viewport" content="width=device-width" />
    <title>goodbye</title>

</head>

<body>
    <h1> Goodbye from the goodbye.cshml file</h1>

    <h2>
        Its @timePeriod
    </h2>

    <h3>@DateTime.Now.ToString("yyyy-MM-dd hh:mm:ss tt")</h3>

</body>

</html>
