@page
@model LabTwo.Pages.taghelpplayModel
@{
    Layout = null;
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Tag Help Play</title>
    <link href="~/Form.css" rel="stylesheet" />
</head>

<body>
    <form method="post">
        <label asp-for="Number1">Enter your first number:</label>
        <input asp-for="Number1" />
        <label asp-for="ReferenceInt"></label>
        <input asp-for="ReferenceInt" />
        <label asp-for="DoubleNormal"></label>
        <input asp-for="DoubleNormal" />
        <label asp-for="DoubleReference"></label>
        <input asp-for="DoubleReference" />
        <label asp-for="DecimalNormal"></label>
        <input asp-for="DecimalNormal" />
        <label asp-for="DecimalReference"></label>
        <input asp-for="DecimalReference" />
        <label asp-for="FloatNormal"></label>
        <input asp-for="FloatNormal" />
        <label asp-for="FloatReference"></label>
        <input asp-for="FloatReference" />
        <label asp-for="StringText"></label>
        <input asp-for="StringText" />
        <label asp-for="dateTime"></label>
        <input asp-for="dateTime" />
        <label asp-for="dateTimeReference"></label>
        <input asp-for="dateTimeReference" />
        <label asp-for="isContactAllowed"></label>
        <input asp-for="isContactAllowed" />
        <h3>Choose a Season:</h3>
        <label for="Spring">
            <input value="Spring" id="Spring" type="radio" asp-for="Season" />
            Spring
        </label>

        <label for="Summer">
            <input value="Summer" id="Summer" type="radio" asp-for="Season" />
            Summer
        </label>

        <label for="Fall">
            <input value="Fall" id="Fall" type="radio" asp-for="Season" />
            Fall
        </label>

        <label for="Winter">
            <input value="Winter" id="Winter" type="radio" asp-for="Season" />
            Winter
        </label>
        <select asp-for="SeasonList">
            <option value="Spring">Spring</option>
            <option value="Summer">Summer</option>
            <option value="Fall">Fall</option>
            <option value="Winter">Winter</option>
        </select>

        @*<label for="Google Chrome">Google Chrome
            <input type="checkbox" id="Google Chrome" value=BrowserDataList[0] asp-for="BrowserDataList" />
        </label>

        <label for="Microsoft Edge">
            Microsoft Edge
            <input type="checkbox" id="Microsoft Edge" value=BrowserDataList[0] asp-for="BrowserDataList" />
        </label>

        <label for="Internet Explorer">Internet Explorer
            <input type="checkbox" id="Internet Explorer" value=BrowserDataList[0] asp-for="BrowserDataList" />
        </label>

        <label for="Firefox">Firefox
            <input type="checkbox" id="Firefox" value=BrowserDataList[0] asp-for="BrowserDataList" />
        </label>

        <label for="Safari">Safari
            <input type="checkbox" id="Safari" value=BrowserDataList[0] asp-for="BrowserDataList" />
        </label>*@

        <select asp-for="Connaught" asp-items="Model.Connaughts">
            <option value="">--Pick One--</option>
        </select>
        

            <button type="submit">Submit</button>
</form>

</body>

</html>
