body {
    background-image: linear-gradient(maroon, black);
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: fixed;
    color: white;
}

.center{
    text-align: center;
    
}

form{
    border:10px groove white;
    margin:0px 35% 0px 35%;
    padding:5px 0px 5px 0px;
    background-image:url(Assets/backdrop.png);
}

input{
    padding-bottom:5px;
    padding-top:5px;

    margin-top:5px;
    margin-bottom:5px;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}
