
/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    
}

.backcyan{
    background-color: darkcyan;
}

.field-validation-error{
    color:red;
    font-style:italic;
    font-size:80%;
}

.validation-summary-errors{
    border: 3px solid red;
    margin:5px 5px 5px 5px;
}

input{
    margin:5px 0px 5px 0px;
}

.button{
    text-decoration: none;
    border: 5px solid darkgreen;
    padding: 2px 2px 2px 2px;
    background-color:forestgreen;
    color:black;
}